/* ROOT COLOR */
:root {
  --Iris: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --cornflower: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-modal: #2e2f42;
  --GREY: #2e2f42;
  --WHITE: #ffffff;
  --Dairy: #fcfcfc;
}

/* BODY MAIN STYLES */
body {
  font-family: "Roboto", sans-serif;
  color: var(--slate, #434455);

  background-color: var(--WHITE);
}

.link,
.list {
  text-decoration: none;
  list-style: none;
}

.link:hover,
.link:focus,
.link:active,
.nav.link.current {
  color: var(--OCEAN);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--navyblue, #2e2f42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}

h3 {
  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
}

p {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 428px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;

  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* HEADER MAIN STYLES */

.header-block {
  background: var(--white, #fff);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container.header {
  display: flex;
  height: 70px;
}

@media only screen and (min-width: 768px) {
  .container.header {
    height: 72px;
  }
}

.nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 1157.98px) {
  .nav-block {
    max-width: 496px;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-block {
    justify-content: start;
    width: auto;
  }
}

.nav.list {
  display: flex;
  gap: 40px;
}

.nav.link {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  padding: 24px 0;
}

.nav.link.nav.link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: var(--OCEAN);
  border-radius: 2px;
}

.nav-address.list {
  display: flex;
  gap: 40px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .nav-address.list {
    flex-direction: column;
    gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-address.list {
    flex-direction: row;
    gap: 40px;
    padding: 24px 0;
    margin: 0;
  }
}

.nav-block .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .nav-block .logo {
    padding: 24px 0;
  }
}

@media only screen and (min-width: 1158px) {
  .nav-block .logo {
    margin-right: 76px;
    padding: 0;
  }
}

.logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-part-two {
  color: var(--NAVY-BLUE);
}

.footer-logo-part-two {
  color: var(--CLOUD);
}

.telmode-btn-nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 22px;

  background-color: transparent;
  border: none;
  outline: transparent;
}

@media only screen and (min-width: 768px) {
  .telmode-btn-nav-menu {
    display: none;
  }
}

.nav {
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-address-block {
  display: flex;
  align-items: center;
  font-style: normal;
  margin-left: auto;
}

.address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--SLATE);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .address {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media only screen and (min-width: 1158px) {
  .address {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}


/* MAIN STYLES HOMEPAGE */

/* order-section */

.order-section {
  padding: 112px 0;
  width: 100%;

  color: var(--WHITE);

  background-color: var(--navyblue, #2e2f42);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)), url(../images/homepage-mobile-img/peopleoffice_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .order-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/homepage-mobile-img/peopleoffice_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .order-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/homepage-tablet-img/peopleoffice_tab@1x.jpg);
  }
}

@media only screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .order-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/homepage-tablet-img/peopleoffice_tab@2x.jpg);
  }
}

@media only screen and (min-width: 1158px) {
  .order-section {
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/homepage-desktop-img/peopleoffice_desk@1x.jpg);
  }
}

@media only screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .order-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/homepage-desktop-img/peopleoffice_desk@2x.jpg);
  }
}

.headline-one {
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 72px;

  color: var(--white, #fff);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}

@media only screen and (min-width: 768px) {
  .headline-one {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;

    color: var(--white, #fff);
    font-size: 56px;
    text-transform: none;
  }
}

@media only screen and (min-width: 1158px) {
  .headline-one {
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

    font-size: 56px;
  }
}

.ord-btn {
  display: block;
  padding: 16px 32px;
  margin: 0 auto;

  color: var(--white, #fff);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background: var(--iris, #4d5ae5);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ord-btn:hover,
.ord-btn:focus,
.ord-btn:active {
  color: var(--WHITE);
  background-color: var(--OCEAN);
}

/* service-description-section */

.service-description-section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .service-description-section {
    padding: 120px 0;
  }
}

.service-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

@media only screen and (min-width: 768px) {
  .service-description {
    display: flex;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }

  .service-description-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .service-description {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
  }

  .service-description-item {
    width: calc((100% - 72px) / 4);
  }
}

@media only screen and (min-width: 1158px) {
  .servise-description-icon-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 100px;
    margin-bottom: 8px;

    background-color: var(--CLOUD);
    border-radius: 4px;
  }
}

.headline-three {
  margin-bottom: 8px;

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media only screen and (min-width: 1158px) {
  .headline-three {
    margin-bottom: 8px;

    text-align: start;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: none;
  }
}

.service-description-text {
  font-weight: 500;
}

@media only screen and (min-width: 1158px) {
  .service-description-text {
    font-weight: 400;
  }
}

/* product-image-section */

.product-image-section {
  padding-bottom: 120px;
}

.product-img-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.product-image-item {
  width: calc((100% - 48px) / 3);
}

/* team-list-section */

.team-list-section {
  padding: 96px 0;
  background: var(--cloud, #F4F4FD);
}

@media only screen and (min-width: 1158px) {
  .team-list-section {
    padding: 120px 0;
  }
}

.item-container {
  padding: 32px 0;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 264px;
  margin: 0 auto;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .team {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    width: 100%;
  }
}

.team-item {
  background: var(--white, #FFF);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 208px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

.headline-team {
  text-align: center;
}

.team-text {
  margin-bottom: 8px;

  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-icon.list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  height: 100%;

  background-color: var(--Iris);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-icon-social {
  fill: var(--CLOUD);
}

.team-icon-link:hover,
.team-icon-link:focus,
.team-icon-link:active {
  background-color: var(--OCEAN);
}

/* Customers sections */

.customers-section {
  padding: 96px 0;
}

@media only screen and (min-width: 1158px) {
  .customers-section {
    padding: 120px 0;
  }
}

.customers-logo.list {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
  column-gap: 16px;
  flex-wrap: wrap;
}

@media only screen and (min-width: 768px) {
  .customers-logo.list {
    column-gap: 24px;
  }
}

.customers-logo-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media only screen and (min-width: 768px) {
  .customers-logo-item {
    width: calc((100% - 208px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-logo-item {
    width: calc((100% - 120px) / 6);
  }
}

.customers-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  color: var(--LIGHT-SLATE);

  border: 1px solid var(--lightslate, #8E8F99);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon-logo {
  fill: currentColor;
}

.customers-item-link:hover,
.customers-item-link:focus,
.customers-item-link:active {
  border-color: var(--OCEAN);
  color: var(--OCEAN);
}

/* SECTION STYLES PORTFOLIO PAGE */

.section-portfolio {
  padding: 48px 0;
}

@media only screen and (min-width: 768px) {
  .section-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media only screen and (min-width: 1158px) {
  .section-portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.filter-button-block {
  width: 268px;
  margin-bottom: 48px;
}

@media only screen and (min-width: 768px) {
  .filter-button-block {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1158px) {
  .filter-button-block {
    margin-bottom: 72px;
  }
}

.filter-button {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}

.fltr-btn {
  padding: 8px 16px;

  color: var(--iris, #4d5ae5);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background: var(--cloud, #f4f4fd);
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
  .filter-button-block {
    width: auto;
  }

  .filter-button {
    justify-content: center;
  }

  .fltr-btn {
    padding: 12px 24px;
  }
}

.fltr-btn:hover,
.fltr-btn:focus,
.fltr-btn:active {
  color: var(--WHITE);

  background-color: var(--OCEAN);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media only screen and (min-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .row-item {
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1158px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
  }

  .row-item {
    width: calc((100% - 48px) / 3);
  }
}

.row-item {
  background: var(--white, #fff);
}

@media only screen and (max-width: 767px) {
  .row-item:not(:last-child) {
    margin-bottom: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .row-item {
    margin: 0;
  }
}

.row-list-item.link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.row-item-dscrp-container {
  padding: 32px 16px;

  border: 1px solid var(--cornflower, #E7E9FC);
  border-top: none;
}

.row-list-item.link:hover,
.row-list-item.link:focus .row-list-item.link:active {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.headline-fltr-results {
  margin-bottom: 8px;

  color: var(--navyblue, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: start;
}

.text-fltr-results {
  color: var(--slate, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Portfolios items overlay */

.row-item-image-box {
  position: relative;
  overflow: hidden;
}

.row-item-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 40px 32px;

  color: var(--cloud, #F4F4FD);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  background-color: var(--iris, #4D5AE5);
}

.row-list-item.link:hover .row-item-overlay-text,
.row-list-item.link:focus .row-item-overlay-text {
  transform: translateY(0%);
}

/* FOOTER */

.footer-section {
  padding: 96px 0;
  background: var(--navyblue, #2e2f42);
}

@media only screen and (min-width: 1158px) {
  .footer-section {
    padding: 100px 0;
  }
}

.footer-text {
  width: 264px;

  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container.footer {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media screen and (min-width: 768px) {
  .container.footer {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    flex-wrap: wrap;
    width: 552px;
    margin: 0 auto;
    padding: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .container.footer {
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: baseline;
    flex-wrap: nowrap;
    padding: 0 15px;
    width: auto;
  }
}

.container.footer .logo {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .container.footer .logo {
    margin: 0;
  }
}

.footer-text-block,
.social-media-block,
.subscribe-block,
.subscribe-input-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-text-block {
  width: 268px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .subscribe-input-form {
    flex-direction: row;
    gap: 24px;
  }
}

.social-media-block {
  width: 208px;
  margin: 0 auto;
}

.social-media-icon.list {
  display: flex;
  gap: 16px;
}

.social-media-item {
  width: 40px;
  height: 40px;
}

.social-media-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--Iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: var(--CLOUD);
}

.social-media-icon-link:hover,
.social-media-icon-link:focus,
.social-media-icon-link:active {
  background-color: var(--GREEN);
}

.social-media-text,
.subscribe-text {
  margin: 0 auto;

  color: var(--WHITE);
  font-weight: 500;
}

@media only screen and (min-width: 768px) {

  .social-media-text,
  .subscribe-text {
    margin: 0;
  }
}

.subscribe-footer-input {
  height: 40px;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;

  color: var(--WHITE);
  border-radius: 4px;
  border: 1px solid var(--white, #FFF);
  background-color: transparent;
  outline: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media only screen and (min-width: 768px) {
  .subscribe-footer-input {
    width: 264px;
  }
}

.subscribe-footer-input::placeholder {
  color: var(--white, #FFF);
}

.subscribe-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 165px;
  margin: 0 auto;
  height: 40px;

  font-family: "Roboto", sans-serif;
  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  background: var(--iris, #4D5AE5);

  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .subscribe-button {
    padding: 8px 24px;
  }
}

.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active {
  background: var(--OCEAN);
}

.icon-paper-airplane {
  margin-left: 16px;
}

@media only screen and (min-width: 768px) {
  .footer-item {
    margin: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .footer-text-block {
    width: auto;
    margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
  .social-media-block {
    margin-right: 80px;
  }
}

/* MODAL */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
  ;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 392px;
  width: 100vw;
  height: 584px;
  padding: 72px 24px 24px 24px;
  margin: 0 auto;

  background: var(--Dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 320px) and (max-width: 391.98px) {
  .modal {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    max-width: 408px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;

  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus,
.modal-close-btn:active {
  background-color: var(--OCEAN);
  border: none;
}

.modal-close-btn:hover .logo-icon-modal-close-btn,
.modal-close-btn:focus .logo-icon-modal-close-btn,
.modal-close-btn:active .logo-icon-modal-close-btn {
  fill: #ffffff;
}

.logo-icon-modal-close-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-headline-text {
  margin-bottom: 16px;

  color: var(--navyblue, #2E2F42);
  text-align: center;
  font-weight: 500;
}

.call-back-form-label {
  display: block;
  margin-bottom: 4px;

  color: var(--lightslate, #8E8F99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.call-back-form-input {
  height: 40px;
  width: 100%;
  padding-left: 38px;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-input:focus {
  border: 1px solid #4D5AE5;
}

.call-back-form-item-wrapper {
  margin-bottom: 8px;
}

.call-back-form-input-wrapper {
  position: relative;
}

.call-back-form-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-input:focus+.call-back-form-input-icon {
  fill: var(--Iris);
}

.call-back-form-comment-item-wrapper {
  margin-bottom: 16px;
}

.call-back-form-textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;

  color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.40));
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-textarea::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.40));
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.call-back-form-textarea:focus {
  border: 1px solid #4D5AE5;
}

.call-back-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.call-back-form-checkbox-label {
  color: var(--lightslate, #8E8F99);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.checkbox-label-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 16px;
  height: 16px;
  margin-right: 8px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-checkbox:checked+.call-back-form-checkbox-label>.checkbox-label-span {
  background-color: var(--OCEAN);
  border: none;
  fill: var(--CLOUD);
}

.call-back-form-link {
  color: var(--Iris);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.call-back-form-submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;

  font-family: "Roboto", sans-serif;
  color: var(--WHITE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;
  border-radius: 4px;
  background: var(--iris, #4D5AE5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.call-back-form-submit-btn:hover,
.call-back-form-submit-btn:focus,
.call-back-form-submit-btn:active {
  background: var(--OCEAN);
}

/* MENU MODAL */

.menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: var(--white, #FFF);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  margin: 0 auto;

  flex-direction: column;
  justify-content: space-between;
  max-width: 428px;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
}

.menu-modal.is-open {
  transform: translateX(0);
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-nav {
  color: var(--navyblue, #2E2F42);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-menu-tel {
  display: block;
  margin-bottom: 40px;

  color: var(--iris, #4D5AE5);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media only screen and (max-width: 428px) {
  .mobile-menu-tel {
    font-size: 24px;
  }
}

.mobile-menu-email {
  display: block;
  margin-bottom: 48px;


  color: var(--slate, #434455);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu-icon-block {
  max-width: 328px;
}

.mobile-menu-icon-list {
  display: flex;
  justify-content: space-between;
}

.mobile-menu-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  width: 100%;
  height: 100%;

  background-color: var(--Iris);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-icon-link:active {
  background-color: var(--OCEAN);
}

/* @media */

@media screen and (max-width: 1158px) {
  .vis-on-desk {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;

    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

@media screen and (max-width: 767.98px) {
  .vis-on-tab {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;

    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}